[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/shortcodes"]
	path = themes/shortcodes
	url = https://github.com/3verness/shortcodes.git
