.home .poetry {
    font-size: 1.7em;
    font-family: Allura, "Noto Serif SC", serif;
}

.links .edge {
    fill: var(--color-contrast-high)
}

.post-meta {
    font-family: Merriweather, serif;
}

@import "shortcodes/shortcodes"